
{% load staticfiles %}

<html>
<body bgcolor="#ffffff">
<head>

</head>
<header>
    <link rel="stylesheet" href="{% static 'css/iface.css' %}">
    <div class="page-header">График</div> 
</header>

<ul id="navbar">
  <li><a href="/main/">ГЛАВНАЯ</a></li>  
  <li><a href="/data/">ДАННЫЕ</a></li>
  <li><a href="/conf/" class="active_menu">КОНФИГУРАЦИЯ</a></li> 
</ul>   




<body>


		<div id="snackbar">Настройки сохранены</div>
		<script>
		function show_snackbar() {
			// Get the snackbar DIV
			var x = document.getElementById("snackbar")

			// Add the "show" class to DIV
			x.className = "show";

			// After 3 seconds, remove the show class from DIV
			setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
		}
		</script>
		
		

        <div class="tabs">
		
		
            <input id="tab1" type="radio" name="tabs">
            <label for="tab1" title="Основные настройки">Основные настройки</label>
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2" title="Ethernet">Ethernet</label>
            <input id="tab3" type="radio" name="tabs">
            <label for="tab3" title="RS-485">RS-485</label>
            <input id="tab4" type="radio" name="tabs">
            <label for="tab4" title="ModBus">ModBus</label>
            <input id="tab5" type="radio" name="tabs">
            <label for="tab5" title="Wi-Fi">Wi-Fi</label>
			
			<script>   

                    if (localStorage.getItem('tab_state') == null) {
                      document.getElementById("tab1").setAttribute('checked','checked');
                    }
			
                    if (localStorage.getItem('tab_state') == "tab1") {
                      document.getElementById("tab1").setAttribute('checked','checked');
                    }
					
					if (localStorage.getItem('tab_state') == "tab2") {
                      document.getElementById("tab2").setAttribute('checked','checked');
                    }
					
					if (localStorage.getItem('tab_state') == "tab3") {
                      document.getElementById("tab3").setAttribute('checked','checked');
                    }
					
					if (localStorage.getItem('tab_state') == "tab4") {
                      document.getElementById("tab4").setAttribute('checked','checked');
                    }
					
					if (localStorage.getItem('tab_state') == "tab5") {
                      document.getElementById("tab5").setAttribute('checked','checked');
                    }

			</script>
			
            <section id="content-tab1">        
                <form action="/conf/" method="post" onClick="myFunction1()">
                                
                {% csrf_token %}                                
                								
                <div class="text_mini">Параметры учетной записи</div>
                <p>{{ main_settings.user_login }} </p>
				
                <p>{{ main_settings.user_password }} </p>                
                <p>{{ main_settings.user_password_confirm }} </p> 
                                                
                <div class="text_mini">Настройка даты и времени</div>               
                <p>{{ main_settings.datetime }} </p>
				
				<!-- <p><input type="checkbox" name="synctime_checkbox" {% if main_settings.sync_time %} checked="checked" {% endif %}/> -->
				<a class="text_mini">Cинхронизация даты и времени </a></p>  
				<p>{{ main_settings.sync_server }}</p> 
                
                <div class="text_mini">Период архивирования данных</div>
                <p>{{ main_settings.period }} </p>
                
                <div class="text_mini">Удаленное хранение данных</div>
                <p>{{ main_settings.remote_server }}</p>
                
            
                <input type="submit" class="flat" value="Сохранить">  								
			
				<script>			
						function myFunction1() 
						{
							localStorage["tab_state"] = "tab1";
						}										
				</script>
				
				{% if var_mes %} <script> show_snackbar() </script> {% endif %}
				
                </form> 
            </section>
			
            <section id="content-tab2">                
				<form action="/conf/" method="post" onClick="myFunction2()">
                                
                {% csrf_token %}                                
                								
                <div class="text_mini">IP</div>
                <p>{{ ethernet_settings.ip }} </p>
                                                
                <div class="text_mini">Маска</div>               
                <p>{{  ethernet_settings.mask }} </p>
				
				<div class="text_mini">Шлюз</div>               
                <p>{{  ethernet_settings.gateway }} </p>
				
				<div class="text_mini">DNS</div>               
                <p>{{  ethernet_settings.dns }} </p>
            
                <input type="submit" class="flat" value="Сохранить" />            

				<script>			
						function myFunction2() 
						{
							localStorage["tab_state"] = "tab2";
						}				
				</script>

				
                </form>                 
            </section>
			
            <section id="content-tab3" >
				<form action="/conf/" method="post" onClick="myFunction3()">
                                
                {% csrf_token %}                                
                								
                <div class="text_mini">Скорость</div>
                <p>{{ rs485_settings.speed }} </p>
                                                
                <div class="text_mini">Паритет</div>               
                <p>{{  rs485_settings.parity }} </p>
				
				<div class="text_mini">Количество STOP-бит</div>               
                <p>{{ rs485_settings.stop_bit }} </p>
				
				<div class="text_mini">Таймаут</div>               
                <p>{{ rs485_settings.timeout }} </p>
            
                <input type="submit" class="flat" value="Сохранить" />                
				
				<script>			
						function myFunction3() 
						{
							localStorage["tab_state"] = "tab3";
						}				
				</script>						
				
                </form>                                   
            </section>
			
            <section id="content-tab4">
                <p> Спецификация CSS3 — это неоспоримое будущее в области декоративного оформления веб-страниц, и ее разработка еще далека от завершения. Большинство модулей все еще продолжает совершенствоваться и модифицироваться, и ни один браузер не поддерживает все модули. Это означает, что CSS3 испытывает такие же сложности, как и HTML5. Веб-разработчикам нужно решать, какие возможности использовать, а какие игнорировать, а также каким образом заполнить зияющие пробелы в браузерной поддержке. </p>
                
                
                <form id = "cb1_form" action="/conf/" method="post">
                {% csrf_token %}                
                <input type="checkbox" id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" onClick="myFunction()">
                <label for="cmn-toggle-1" name="cb1" value="" ></label>             
                <script>    
                    if (localStorage.getItem('cb1') == "true") {
                      document.getElementById("cmn-toggle-1").setAttribute('checked','checked');
                    }
                </script>               
                </form>             

                
                <script>
                    function myFunction() {
                        var elm = document.getElementById('cmn-toggle-1');                      
                        
                        if( elm.checked == true ) 
                        {
                            alert('запуск процесса')
                            localStorage.setItem('cb1', "true");
                            document.forms['cb1_form'].submit()                     
                        }
                        else localStorage.setItem('cb1', "false");
                    }
                    
                </script>
                        
                <a href="#" class="flat" onClick="alert('Настройки сохранены')">Сохранить</a>
                
            </section>
            <section id="content-tab5"  hidden="true">
                                
                <a href="#" class="flat" onClick="alert('Настройки сохранены')">Сохранить</a>
                
                
            </section>
			
			

            
        </div>

</body>

</html>