
{% load staticfiles %}

<html>
<body bgcolor="#ffffff">
<head>

</head>
<header>
    <link rel="stylesheet" href="{% static 'css/iface.css' %}">
    <div class="page-header">Регистратор</div> 
</header>

<ul id="navbar">
  <li><a href="/main/">ГРАФИК</a></li>  
  <li><a href="/data/">АРХИВ</a></li>
  <li><a href="/conf/" class="active_menu">КОНФИГУРАЦИЯ</a></li> 
</ul>   




<body>


		<div id="snackbar">Настройки сохранены</div>
		<script>
		function show_snackbar() {
			// Get the snackbar DIV
			var x = document.getElementById("snackbar")

			// Add the "show" class to DIV
			x.className = "show";

			// After 3 seconds, remove the show class from DIV
			setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
		}
		</script>
		
		{% if save_mes %} <script> show_snackbar() </script> {% endif %}

        <div class="tabs">
		
		
            <input id="tab1" type="radio" name="tabs">
            <label for="tab1" title="Основные настройки">Основные настройки</label>
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2" title="Ethernet">Ethernet</label>
            <input id="tab3" type="radio" name="tabs">
            <label for="tab3" title="RS-485">RS-485</label>
            <input id="tab4" type="radio" name="tabs">
            <label for="tab4" title="ModBus">ModBus</label>
            <input id="tab5" type="radio" name="tabs">
            <label for="tab5" title="Wi-Fi">Wi-Fi</label>
			
			<script>   

                    if (localStorage.getItem('tab_state') == null) {
                      document.getElementById("tab1").setAttribute('checked','checked');
                    }
			
                    if (localStorage.getItem('tab_state') == "tab1") {
                      document.getElementById("tab1").setAttribute('checked','checked');
                    }
					
					if (localStorage.getItem('tab_state') == "tab2") {
                      document.getElementById("tab2").setAttribute('checked','checked');
                    }
					
					if (localStorage.getItem('tab_state') == "tab3") {
                      document.getElementById("tab3").setAttribute('checked','checked');
                    }
					
					if (localStorage.getItem('tab_state') == "tab4") {
                      document.getElementById("tab4").setAttribute('checked','checked');
                    }
					
					if (localStorage.getItem('tab_state') == "tab5") {
                      document.getElementById("tab5").setAttribute('checked','checked');
                    }

			</script>
			
            <section id="content-tab1">        
                <form action="/conf/" method="post" onClick="myFunction1()">
                                
                {% csrf_token %}                                
                								
                <div class="text_mini">Параметры учетной записи</div>
                <p>{{ main_settings.user_login }} <div class="error_message"> {{ main_settings.user_login.errors | safe}}</p>
				
                <p>{{ main_settings.user_password }} <div class="error_message"> {{ main_settings.user_password.errors | safe}}</p>                
                <p>{{ main_settings.user_password_confirm }} <div class="error_message"> {{ main_settings.user_password_confirm.errors | safe}}</p> 
                                                
                <div class="text_mini">Настройка даты и времени</div>               
                <p>{{ main_settings.datetime }} <div class="error_message"> {{ main_settings.datetime.errors | safe}}</p>
				
				<p>{{ main_settings.sync_time }}
				
				{% if main_settings.sync_time == true %} {% endif %} 
				
				<a class="text_mini">Cинхронизация даты и времени </a></p>  
				<p>{{ main_settings.sync_server }} <div class="error_message"> {{ main_settings.sync_server.errors | safe}}</p> 				
				
                <div class="text_mini">Период архивирования данных</div>
                <p>{{ main_settings.period }} <div class="error_message"> {{ main_settings.period.errors | safe}} </p>
                
                <div class="text_mini">Удаленное хранение данных</div>
                <p>{{ main_settings.remote_server }} <div class="error_message"> {{ main_settings.remote_server.errors | safe}}</p>
                
            
                <input type="submit" name="submit_main_form" class="flat" value="Сохранить">  								
			
				<script>			
						function myFunction1() 
						{
							localStorage["tab_state"] = "tab1";
						}										
				</script>
				
                </form> 
            </section>
			
            <section id="content-tab2">                
				<form action="/conf/" method="post" onClick="myFunction2()">
                                
                {% csrf_token %}                                
                								
                <div class="text_mini">IP</div>
                <p>{{ ethernet_settings.ip }} <div class="error_message"> {{ ethernet_settings.ip.errors | safe}}</p>
                                                
                <div class="text_mini">Маска</div>               
                <p>{{  ethernet_settings.mask }} <div class="error_message"> {{ ethernet_settings.mask.errors | safe}}</p>
				
				<div class="text_mini">Шлюз</div>               
                <p>{{  ethernet_settings.gateway }} <div class="error_message"> {{  ethernet_settings.gateway.errors | safe}}</p>
				
				<div class="text_mini">DNS</div>               
                <p>{{  ethernet_settings.dns }} <div class="error_message"> {{  ethernet_settings.dns.errors | safe}}</p>
            
                <input type="submit" name="submit_ethernet_form" class="flat" value="Сохранить" />            

				<script>			
						function myFunction2() 
						{
							localStorage["tab_state"] = "tab2";
						}				
				</script>

				
                </form>                 
            </section>
			
            <section id="content-tab3" >
				<form action="/conf/" method="post" onClick="myFunction3()">
                                
                {% csrf_token %}                              
                								
                <div class="text_mini">Скорость</div>
                <p>{{ rs485_settings.speed }} <div class="error_message"> {{ rs485_settings.speed.errors | safe}}</p>
                                                
                <div class="text_mini">Паритет</div>               
                <p>{{  rs485_settings.parity }} <div class="error_message"> {{  rs485_settings.parity.errors | safe}}</p>
				
				<div class="text_mini">Количество STOP-бит</div>               
                <p>{{ rs485_settings.stop_bit }} <div class="error_message"> {{ rs485_settings.stop_bit.errors | safe}}</p>
				
				<div class="text_mini">Таймаут</div>               
                <p>{{ rs485_settings.timeout }} <div class="error_message"> {{ rs485_settings.timeout.errors | safe}} </p>
            
                <input type="submit" name="submit_rs485_form" class="flat" value="Сохранить" />                
				
				<script>			
						function myFunction3() 
						{
							localStorage["tab_state"] = "tab3";
						}				
				</script>						
				
                </form>                                   
            </section>
			
            <section id="content-tab4">
                <form action="/conf/" method="post" onClick="myFunction4()">
				
                {% csrf_token %}                
				
				
				 <table border="0">
					<!-- <caption>Таблица размеров обуви</caption> -->
					
					<tr>
					<th>Адрес модуля</th>
					<th>Тип регистра</th>
					<th>Индекс регистра</th>
					<th>Тип данных</th>
					<th>Размер</th>
					<th>Множитель</th>
					<th>Тэг</th>					
					</tr>
					
					
					
					<tr>
					<td>{{ modbus_settings.adr_item }} </td>
					<td>{{ modbus_settings.type_reg }} </td>
					<td>{{ modbus_settings.index_reg}} </td>
					<td>{{ modbus_settings.type_data }}  </td>
					<td>{{ modbus_settings.size }} </td>
					<td>{{ modbus_settings.multiplier }} </td>
					<td>{{ modbus_settings.tag }}  </td>					
					<td><label class="switch" name="sw_1"> {{ modbus_settings.archiving }} <div class="slider round"></div></label> </td>
					
					<!-- <td> <label class="switch" name="sw_1"> <input type="checkbox" id="switch_1" onClick="myFunction()"> <div class="slider round"></div></label> </td>-->	

					<script>    
						//Сохраняем состояние
						if (localStorage.getItem('sw_1') == "true") 
						{							
							document.getElementById("switch_1").checked = true;
						}						
												
						function myFunction() 
						{
							var elm = document.getElementById('switch_1');                      
                        
							if( elm.checked == true ) 
							{
								//alert('запуск процесса')
								localStorage.setItem('sw_1', "true");
								
							}
							else localStorage.setItem('sw_1', "false");
						}                    
					</script>  					
					</tr>
					
				</table>
				
				
				
				
				<!-- {% for i in loop_times %}				
				<p>
				
				{{ modbus_settings.adr_item }} 		
				{{ modbus_settings.typr_reg }} 		
				{{ modbus_settings.index_reg}} 		
				{{ modbus_settings.type_data }} 	
				{{ modbus_settings.size }} 			
				{{ modbus_settings.multiplier }} 	
				{{ modbus_settings.tag }} 			
				{{ modbus_settings.archiving }} 	
				</p>
				
				{% endfor %} -->
				
				
				
                <!-- <input type="checkbox" id="cmn-toggle-1" class="cmn-toggle cmn-toggle-round" onClick="myFunction()">
                <label for="cmn-toggle-1" name="cb1" value="" ></label>             
                <script>    
                    if (localStorage.getItem('cb1') == "true") {
                      document.getElementById("cmn-toggle-1").setAttribute('checked','checked');
                    }
                </script>                
                
                <script>
                    function myFunction() {
                        var elm = document.getElementById('cmn-toggle-1');                      
                        
                        if( elm.checked == true ) 
                        {
                            alert('запуск процесса')
                            localStorage.setItem('cb1', "true");
                            document.forms['cb1_form'].submit()                     
                        }
                        else localStorage.setItem('cb1', "false");
                    }                    
                </script> -->
				
				<script>			
						function myFunction4() 
						{
							localStorage["tab_state"] = "tab4";
						}				
				</script>					
                        
                <input type="submit" name="submit_modbus_form" class="flat" value="Сохранить" />
                
				</form>      				
            </section>
			
			
            <section id="content-tab5"  hidden="true">
                                
                <a href="#" class="flat" onClick="alert('Настройки сохранены')">Сохранить</a>
                
                
            </section>
			
			

            
        </div>

</body>

</html>