
{% load staticfiles %}

<html>
<body bgcolor="#ffffff">
<head>

</head>
<header>
	<link rel="stylesheet" href="{% static 'css/iface.css' %}">
    <div class="page-header">Регистратор</div> 
</header>

<ul id="navbar">
  <li><a href="/main/">ГРАФИК</a></li>  
  <li><a href="/data/" class="active_menu">АРХИВ</a></li>
  <li><a href="/conf/">КОНФИГУРАЦИЯ</a></li> 
</ul>	

<body>

		<div class="data">

			<div id="snackbar">Настройки сохранены</div>
			<script>
			function show_snackbar() {
				// Get the snackbar DIV
				var x = document.getElementById("snackbar")

				// Add the "show" class to DIV
				x.className = "show";

				// After 3 seconds, remove the show class from DIV
				setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
			}
			</script>
			
			{% if save_mes %} <script> show_snackbar() </script> {% endif %}
		
			<form action="/data/" method="post" onClick="myFunction()">
			
				{% csrf_token %}
				
				
				{% for file in link %}
									
					<p> <a href="/media/{{file}}" /> {{file}} </a> </p>
					
				
				{% endfor %}
				
				
				
				<script>			
				function myFunction() 
					{
						localStorage["data_page"] = "data_page";
					}				
				</script>
				
				<input type="submit" name="submit_data_form" class="flat" value="Скачать все файлы" />
				<input type="submit" name="data_month" class="flat" value="Скачать за месяц" />
				<input type="submit" name="data_week" class="flat" value="Скачать за неделю" />
				<input type="submit" name="data_day" class="flat" value="Скачать за день" />
			
			</form> 
			
		</div>
		
		
</body>


</body>
</html>