
{% load staticfiles %}

<html>
<body bgcolor="#ffffff">
<head>
<script src="/static/jquery.min.js"></script>
<script src="/static/highcharts.js"></script>
<script src="/static/highcharts-downsample.js"></script>
<script src="https://code.highcharts.com/modules/boost.js"></script>
</head>
<header>
	<link rel="stylesheet" href="{% static 'css/iface.css' %}">
    <div class="page-header">Регистратор</div> 
</header>

<ul id="navbar">
  <li><a href="/main/" class="active_menu">ГРАФИК</a></li>  
  <li><a href="/data/">АРХИВ</a></li>
  <li><a href="/conf/">КОНФИГУРАЦИЯ</a></li> 
</ul>	

<body>

<div id="chart_container" style="width:100%; height:80%;"></div>
  

</body>


<script>
$(function () {
$('#chart_container').highcharts({
        chart: {
            type: 'line',
			zoomType: 'x'
        },
		
		boost: {
        useGPUTranslations: true
		},		
		
        title: {
            text: ' '
        },
//       subtitle: {
//            text: 'Source: WorldClimate.com'
//        },
        xAxis: {
            categories: {{ time | safe }}
			//categories: [1,2,3,4,5,6,7,8]
			
        },
        yAxis: {
            title: {
                text: 'Data'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: false
                },
                enableMouseTracking: true				
            }
			
        },
        series: [
			{     			
				name: 'Reg 1',            
				data: {{ reg1 | safe }} 
							
			}, 
			{
				name: 'Reg 2',            
				//data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
				
				data: {{ reg2 | safe }}
			},
			{
				name: 'Reg 3',            
				data: {{ reg3 | safe }}
			},
			{
				name: 'Reg 4',            
				data: {{ reg4 | safe }}
			},
			{
				name: 'Reg 5',            
				data: {{ reg5 | safe }}
			},
			{
				name: 'Reg 6',            
				data: {{ reg6 | safe }}
			},
			{
				name: 'Reg 7',            
				data: {{ reg7 | safe }}
			},
			{
				name: 'Reg 8',            
				data: {{ reg8 | safe }}
			},
			{
				name: 'Reg 9',            
				data: {{ reg9 | safe }}
			},
			{
				name: 'Reg 10',            
				data: {{ reg10 | safe }}
			},
			{
				name: 'Reg 11',            
				data: {{ reg11 | safe }}			
			
        }]
    });
});
</script>


</body>
</html>