
{% load staticfiles %}

<html>
<body bgcolor="#ffffff">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
</head>
<header>
	<link rel="stylesheet" href="{% static 'css/iface.css' %}">
    <div class="page-header">График</div> 
</header>

<ul id="navbar">
  <li><a href="/main/" class="active_menu">ГЛАВНАЯ</a></li>  
  <li><a href="/data/">ДАННЫЕ</a></li>
  <li><a href="/conf/">КОНФИГУРАЦИЯ</a></li> 
</ul>	

<body>

<div id="chart_container" style="width:100%; height:70%;"></div>
  

</body>


<script>
$(function () {
$('#chart_container').highcharts({
        chart: {
            type: 'line',
			zoomType: 'x'
        },
        title: {
            text: ' '
        },
//       subtitle: {
//            text: 'Source: WorldClimate.com'
//        },
        xAxis: {
            categories: {{ time | safe }}
			//categories: [1,2,3,4,5,6,7,8]
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: false
                },
                enableMouseTracking: true
            }
        },
        series: [{
            name: 'Tokyo',            
			data: {{ array | safe }}
        }, {
            //name: 'London',
            //data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
});
</script>


</body>
</html>