SUBSYSTEM=="tty", ATTRS{idVendor}=="12d1", KERNEL=="ttyUSB[0-9]*", SYMLINK+="megafon-modem"

SUBSYSTEM=="tty", ATTRS{idVendor}=="1a86", KERNEL=="ttyUSB[0-9]*", SYMLINK+="rs485" 
